html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1280px;
    margin: auto;
    height: 100%;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 560px;
    height: 580px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card {
    height: 109px;
    width: 109px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transform: rotateY(-180deg);
    transition: all 0.3s;
}

.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.show {
    font-size: 2rem;
}

.match {
    cursor: default;
    background: #02ccba;
    font-size: 2rem;
}

/*
 * when cards don't match
 */
.dont-match {
    background: #d72638;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    width: 345px;
    display: flex;
    justify-content: space-between;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/*
 * remove extra space
 */
.deck,
.score-panel {
    margin: 0;
}

/*
 * Congratulations popup style
 */
.congrats-popup {
    width: 100%;
    height: 100%;
    background: #ffffff url(../img/geometry2.png); /* Background pattern from Subtle Patterns */
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    z-index: -1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

/*
 * to display the popup
 */
.visible {
    z-index: 1;
}


.title {
    text-transform: capitalize;
    font-size: 2rem;
    color: #17a91d;
}


.score {
    font-size: 1.2rem;
}


/*
 * play again button
 */
.play-again {
    font-size: 1.1rem;
    padding: 0.6rem;
    background: #4caf50;
    outline: none;
    border: none;
    border-radius: 10px;
    color: #fff;
    margin-top: 26.56px;
    cursor: pointer;
}


/*
 * tablets
 */
@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }

    .deck {
        width: 95%;
        height: auto;
    }

    .card {
        width: calc((100% - 36px)/4);
        height: 157.39px;
        margin: 0 12px 12px 0;
    }

    /* remove margin from 4th cards */
    .card:nth-child(4n) {
        margin-right: 0;
    }

    .score-panel {
        font-size: 1.2rem;
    }

}

/*
 * Mobile L
 */
@media screen and (max-width: 425px) {
    .deck {
        padding: 1.3rem;
        width: 98%;
    }

    .card {
        height: 84.72px;
    }

    .score-panel {
        width: 80%;
        font-size: 1rem;
    }

    .show {
        font-size: 1.4rem;
    }
}

/*
 * Mobile M
 */
@media screen and (max-width: 375px) {
    .card {
        height: 72.47px;
    }

    .score-panel {
        width: 80%;
        font-size: 0.9rem;
    }
}

/*
 * Mobile S
 */
@media screen and (max-width: 320px) {
    .card {
        height: 59px;
    }

    .show {
        font-size: 1.2rem;
    }
}